<section class="wrapper">
    <header>
        <div class="content">
            <div class="logo"><a [routerLink]="['/']">Angular 2 Demo</a></div>
            <nav>
                <ul>
                    <li><a [routerLink]="['/about-us']">ABOUT US</a></li>
                    <li><a [routerLink]="['/contact-us']">CONTACT US</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <section class="mid content">
        <div class="left">
            <h2>Welcome</h2>
            <nav>
                <ul>
                    <li><a href="">TERMS & CONDITIONS</a></li>
                    <li><a href="">PRIVACY POLICY</a></li>
                    <li><a href="">COPYRIGHTS</a></li>
                    <li><a href="">COPYRIGHTS</a></li>
                </ul>
            </nav>
        </div>
        <div class="sticker-list">
            <router-outlet></router-outlet>
        </div>
    </section>
    <footer>

    </footer>
</section>