* {
	margin:0;
	padding:0;
}

header .content{
	width:1000px;
	margin:0 auto;
	
}

body{
	font-size: $font-size;
	font-family: $font-family;
	color: $primary-color;
	margin:0;
	padding:0;
} 

.content {
	width: 1000px;
	margin:0 auto;
	
	h2{
		font-size: 42px;
		text-align: center;
	}
}

.hide{
	display: none; 
}