header{
	position:fixed;
	height:70px;
	width:100%;
	top:0;
	//padding-top:20px;
	.content{
		overflow: hidden;

	}
	nav {
		margin-top:30px;
		ul {
			float: right;
			li{
				list-style:none;
				display: inline-block;
				font-size:14px;
				margin-left:10px;

				a{
					color:#000;
					text-decoration: none;
					padding:10px;
					&:hover{
						color: #ff6600;
					}
					&.active{
						border-bottom: 4px solid #f06124;
  						
  						color:#999
   
					}
				}
			}
		}
	}
}