$font-family: 'PT Sans Caption', sans-serif;
$font-size: 12px;
$primary-color: #000;
$bold: 800;
$italic : italic;
$uppercase : uppercase;
$lowercase : lowercase;
$heading : 24px;
$white: #fff;
$black: #000;

//font-family: 'PT Sans Caption', sans-serif;

